@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.trigger {
  @include reset-button;
  position: fixed;
  @include flex-center;
  gap: $spacing-2;
  padding: $spacing-2-5 $spacing-4;
  border-radius: $radius-full;
  font-weight: $font-weight-medium;
  @include text-sm;
  box-shadow: $shadow-lg;

  // Colors
  background-color: $color-primary;
  color: white;

  @include transition-all;

  &:hover:not(:disabled) {
    background-color: $color-primary-hover;
    transform: scale(1.05);
  }

  &:active:not(:disabled) {
    background-color: $color-primary-active;
    transform: scale(0.95);
  }

  &:focus {
    outline: none;
    box-shadow: $shadow-lg, 0 0 0 2px white, 0 0 0 4px $red-500;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;

    &:hover {
      background-color: $color-primary;
      transform: none;
    }
  }
}

// Position variants
.topLeft {
  @include position-top-left;
}

.topRight {
  @include position-top-right;
}

.bottomLeft {
  @include position-bottom-left;
}

.bottomRight {
  @include position-bottom-right;
}

.icon {
  width: 1.25rem;
  height: 1.25rem;
}
